
.image-container {
	position: relative;
	width: 100%;
	max-width: 600px;
}
.image-container img {
	width: 100%;
	height: auto;
}
.image-container canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.black-txt {
	background-color: black;
	color: white;
}

.brown-txt {
	background-color: brown;
	color: black;
}

.red-txt {
	background-color: red;
	color: black;
}

.orange-txt {
	background-color: orange;
	color: black;
}

.yellow-txt {
	background-color: yellow;
	color: black;
}

.green-txt {
	background-color: green;
	color: black;
}

.blue-txt {
	background-color: blue;
	color: white;
}

.purple-txt {
	background-color: purple;
	color: white;
}

.gray-txt {
	background-color: gray;
	color: white;
}

.white-txt {
	background-color: white;
	color: black;
}

.gold-txt {
	background-color: gold;
	color: black;
}

.silver-txt {
	background-color: silver;
	color: black;
}